{{ if .Site.Params.copyright.enable }}
    {{"<!-- Copyright Section -->" | safeHTML}}
    <section id="copyright">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="block">
                            <p>Copyright &copy;
                                <a href="{{ .Site.BaseURL }}">Inniti software</a>| {{ .Site.Params.copyright.title  }} | Powered by <a href="http://www.Themefisher.com">Themefisher</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
{{ end }}


{{"<!-- Js -->" | safeHTML}}
<script src="{{"js/vendor/jquery-2.1.1.min.js" | absURL}}"></script>
<script src="{{"js/owl.carousel.min.js" | absURL}}"></script>
<script src="{{"js/bootstrap.min.js" | absURL}}"></script>
<script async src="{{"js/vendor/modernizr-2.6.2.min.js" | absURL}}"></script>
<script async src="{{"js/jquery.validate.min.js" | absURL}}"></script>
<script async src="{{"js/jquery.form.min.js" | absURL}}"></script>
<script async src="{{"js/jquery.nav.min.js" | absURL}}"></script>
<script async src="{{"js/wow.min.js" | absURL}}"></script>
<script async src="{{"js/main.js" | absURL}}"></script>

</body>

</html>